body{
    background-color: #243834;
    font-family:"Poppins", Arial, Helvetica, sans-serif;
}

.cover{
    background-color: #243834;
    background-image: url("/assets/images/MCA1525T-copiar.jpg");
    padding-top: 6vw;
    padding-bottom: 20vw;
    background-size:cover;
    background-position-y: center;
    background-repeat: no-repeat;
    position: relative;
    isolation: isolate;
}

.cover::after{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: .5;    
}

.historia{
    border-top: solid 0.7vw #0e0c0b;
    padding: 2vw;
}

.historia .text{
    padding: 2vw 8vw;
    font-family:"Poppins", Arial, Helvetica, sans-serif;
    font-size: 2.109704641350211vw;
    font-weight: 500;
    color: white;
}