body{
    background-color: #243834;
}

header{
    display: flex;
    background-color: #243834;
    border-bottom : 10px solid black;
    padding: 10px 20px;
    justify-content: space-between;
}

nav{
    text-align: right;
}

.atalhos-de-navegacao, #button {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.atalhos-de-navegacao::before{
    content: "";
    height: 10px;
    width: 10px;
    background-color: #FF8931;
    margin-right: 10px;
}

#button{
    display: inline-block;
    background-color: #FF8931;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    border-radius: 5px;
    margin: 0;
    transition: transform 0.1s linear;
}

#button:hover{
    transform: scale(1.02);
}

.imagem-da-capa{
    width: 30%;
}

.historia{
    display: block;
    width: 1688px;
    height: 800px;
}

.container{
    background-color: #243834;
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: 30px;
}

.titulo-mapa {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    font-weight: bold;
    color: #FF8931;
    margin: 0px;
    padding: 0px;
}

.svg-container{
    position: relative;
}

.svgbutton {
    cursor: pointer;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background: #0e0c0b;
    border: none;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
}
.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    display: block;
}



svg {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: auto;
}

path {
    fill:white;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center; 
}

path:hover {
    transform: scale(1.01);
    fill: #FF8931;
    
}

path:active{
    
}
