body{
    background-color: #243834;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/images/capanova.jpg);
    background-size: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    position: relative;
    isolation: isolate;
    min-height:650px;
    height: fit-content;
    height: 100svh;
}

body::after{
    content: "";
    position: absolute;
    z-index: -2 ;
    inset: 0;
    background: black;
    opacity: .2;    
}

.cover{
    padding: 10svh 0 0 0 ;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.cover .title {
    font-size: 64px;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    display: inline;
    color: white;
    animation-name: sliderigth;
    animation-duration: 2s;
} 
@keyframes sliderigth{
    from{transform: translateX(-100%);}
}

.cover .subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3svh 0 0 0 ;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight:700;
    color: white;
    animation-name: slideleft;
    animation-duration: 2s;
}
@keyframes slideleft{
    from{transform: translateX(100%);}
}

.navegation {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    align-items: center;
    flex-wrap: wrap; /* Permite que os cards se ajustem em diferentes linhas, caso necessário */
    padding: 5svh 0px 48px 0px;
    animation-name: showbutton;
    opacity: 0;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    gap: 32px;
    width: 100%;
    box-sizing: border-box; /* Garante que o padding e borda sejam incluídos na largura */
}

@keyframes showbutton {
    to { opacity: 1; }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8931;
    padding: 12px 24px;
    border-radius: 8px;
    margin: 0;
    transition: transform 0.1s linear;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
}

.button:hover {
    transform: scale(1.02);
}

.icon-card {
    height: 48px;
    width: auto;
}

.card-navegation {
    background-color: #FFFFFF;
    display: flex;
    width: 290px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-title {
    align-self: stretch;
    color: #FF8931;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-text {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
