.big-numbers {
    background-color: white;
    border-top: solid 10px black;
    padding-top: 20px;
}

.logo {
    size: 1vw;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-rule-style: dashed;
    justify-items: center;
}

.topic {
    font-family:  "Poppins", Arial, Helvetica, sans-serif;
    font-size:5vw;
    font-weight:bold;
    color: #243834;
}

.big-numbers p {
    font-family:  "Poppins", Arial, Helvetica, sans-serif;
    font-size:5vw;
    font-weight:500;
    color: #243834;
}

