.big-numbers{
    background-color: white;
}

.big-numbers h1{
    border-top: solid 10px black;
    display: flex;
    background-color: white;
    padding-top: 20px;
    justify-content: center;
    font-weight: 700;
    font-size: 60px;
}
.box{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#municipios-atendidos, #portaria, #volume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 10px;
    width: 32%;
}
#municipios-atendidos, #portaria {
    border-right:dotted black;
}

h3{
    font-family:  "Poppins", Arial, Helvetica, sans-serif;
    font-size:45px;
    font-weight:bold;
    color: #243834;
}

.big-numbers p{
    font-family:  "Poppins", Arial, Helvetica, sans-serif;
    font-size:30px;
    font-weight:500;
    color: #243834;
}

