.button-arrow {
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    background-color: transparent;
    cursor: pointer;
}
.button-arrow .content{
    display:none;
}
.button-arrow::before{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 1.05vw;
    height: 1.05vw;
    border: 1.4vw solid transparent;
    border-left: 1.969vw solid white;
    transform: translateX(0.4vw);
}
.button-arrow.-left::before{
    transform: rotate(180deg) translateX(15px);
}

.button-arrow:hover{
    transform: scale(1.05);
}