.container{
    display: flex;
    flex-direction:column;
    text-align: center;
    padding: 2.109704641350211vw;
}

.svg-container{
    position: relative;
}

#svgmap-pb {
    display: none;
}

.svgbutton {
    cursor: pointer;
    fill: #FF8931;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background: #0e0c0b;
    border: none;
    box-shadow: 0px 0.2812939521800281vw 0.5625879043600562vw rgba(0,0,0,0.1);
    z-index: 10;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 0.5625879043600562vw 1.1251758087201125vw;
    text-decoration: none;
    color: #333;
    display: block;
}

svg {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: auto;
}

path {
    fill:white;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center; 
}

path:hover {
    transform: scale(1.01);
    fill: #6b6b6b;   
}

.svgbutton:hover {
    transform: scale(1.01);
    fill: #FF8931;   
}