.container{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.svg-container{
    position: relative;
    width: 640px;
    height: 640px;
    background-color: #243834;
    border-radius: 24px;
    margin-right: 32px;
}

#svgmap-pb {
    display: none;
}

.svgbutton {
    cursor: pointer;
    fill: #FF8931;
}

svg {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
}

path {
    fill:white;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center; 
}

path:hover {
    transform: scale(1.01);
    fill: #6b6b6b;   
}

.svgbutton:hover {
    transform: scale(1.01);
    fill: #FF8931;   
}

.card-revendas {
    display: none;
}

.card-revendas.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 432px;
    background-color: white;
    height: 624px;
    border-radius: 24px;
    padding: 8px;
}

.image-revenda {
    width:430px;
    border-radius: 20px;
}

.card-revendas.active ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
}