.subtitle{
    font-family:  "Poppins", Arial, Helvetica, sans-serif;
    font-size:3vw;
    font-weight:500;
    color: white;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    font-family:  "Poppins", Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 700;
    color: #FF8931;
}
.cover .title {
    font-size: 7vw;
    display: inline;
} 
